
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="mat-app-background basic-container">
  <app-auto-complete-component>loading</app-auto-complete-component>
  <br>
  <br>
  <app-checkbox-configurable-example></app-checkbox-configurable-example>
  <br>
  <br>
  <!-- 
  <app-datepicker-overview-example></app-datepicker-overview-example>
  <br>
  <br> 
  -->
  <!-- <app-datepickr-start-view-example></app-datepickr-start-view-example> -->
  <!-- <app-datepicker-value-example></app-datepicker-value-example> -->
  
  <!-- <app-datepicker-min-max-example></app-datepicker-min-max-example> -->
  <!-- <app-datepicker-filter-example></app-datepicker-filter-example> -->
  <!-- <app-datepicker-events-example></app-datepicker-events-example> -->
  <!-- <app-datepicker-disabled-example></app-datepicker-disabled-example> -->
  <app-datepicker-touch-example>
    
  </app-datepicker-touch-example>
</div>

<span class="version-info">Current build: 6.3.2</span>
